@using System.ServiceModel.Channels
@model TasinmazMvc.Models.KULLANICI
@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/vendor/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/vendor/animate/animate.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/vendor/css-hamburgers/hamburgers.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/vendor/animsition/css/animsition.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/vendor/select2/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/vendor/daterangepicker/daterangepicker.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/css/util.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Login/css/main.css")">
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Login/images/bg-01.jpeg'); width: auto">


            <div class="wrap-login100 p-t-30 p-b-50">
                <span>
                    <img src="~/Login/images/cropped-odakgislogo-0-1.png" width="100%" style="margin-bottom: 50px" />
                </span>

                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <div class="login100-form validate-form p-b-33 p-t-5" style="border-radius: 80px">
                        <br />
                        <span class="login100-form-title p-b-41 text-dark ">
                            KULLANICI GİRİŞİ
                        </span>

                        <div class="wrap-input100 validate-input" data-validate="Mailinizi giriniz">
                            <input class="input100" type="text" name="MAIL" placeholder="Mailinizi Giriniz" required="Mail Giriniz">
                            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Şifrenizi giriniz">
                            <input class="input100" type="password" name="PAROLA" placeholder="Parola" required="Parola Giriniz">
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>

                        <div class="container-login100-form-btn m-t-32">
                            <button class="login100-form-btn" type="submit">
                                Giriş
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

    <script src="@Url.Content("~/Login/vendor/jquery/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Login/vendor/animsition/js/animsition.min.js")"></script>
    <script src="@Url.Content("~/Login/vendor/bootstrap/js/popper.js")"></script>
    <script src="@Url.Content("~/Login/vendor/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Login/vendor/select2/select2.min.js")"></script>
    <script src="@Url.Content("~/Login/vendor/daterangepicker/moment.min.js")"></script>
    <script src="@Url.Content("~/Login/vendor/daterangepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/Login/vendor/countdowntime/countdowntime.js")"></script>
    <script src="@Url.Content("~/Login/js/main.js")"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>
